.home-button {
  background-color: #c4057a;
  color: #ffffff;
  margin: 5px 10px 0 0;
}

.not-found-header-text {
  color: #37518e;
}

.vertical-center {
  margin-top: 5%;
}

.horizontal-center {
  margin-left: 5%
}

.gender-select {
  width: 10%;
}

.span-spacing {
  margin-bottom: 5px;
}
