<div class="around">
  <!-- Appointment information !-->
  <div class="container">
    <h2>Afspraakinformatie</h2>
    <div class="above">
      <a (click)="setAbsent()"><span class="material-icons absent">login</span><br>Moet nog komen</a>
      <a (click)="setRegistered()"><span class="material-icons">apartment</span><br>Aangemeld</a>
      <a (click)="setDone()"><span class="material-icons">check</span><br>Afgerond</a>
      <a (click)="edit()"><span class="material-icons">edit</span><br>Wijzigen </a>
      <a (click)="delete()"><span class="material-icons">delete</span><br>Verwijderen</a>
      <a><span class="material-icons">checklist</span><br>Actielijst openen</a>
      <a><span class="material-icons">info</span><br>Patient informatie</a>
      <a><span><button (click)="navigateToPatient()">Dossier</button></span></a>
    </div>

    <div class="left">
      <div class="wrapper-">
        <mat-icon>event</mat-icon>
        <mat-label>{{appointment.date | date:'EEEE dd MMMM yyyy': '' :'nl'}}</mat-label>
      </div>

      <div class="wrapper-">
        <mat-icon>schedule</mat-icon>
        <mat-label>{{appointment.startTime | date:'hh:mm'}}-{{appointment.endTime | date:'hh:mm'}} uur</mat-label>
      </div>

      <div class="wrapper-">
        <mat-icon>brush</mat-icon>
        <mat-label>{{appointment.appointmentType.name}}</mat-label>
      </div>

      <div class="wrapper-">
        <mat-label><b>Reden van komst: </b></mat-label>
        <br>
        <mat-label>{{appointment.reason}}</mat-label>
      </div>

      <div class="wrapper-">
        <mat-label><b>Attentieregel: </b></mat-label>
        <br>
        <mat-label>{{appointment.attention}}</mat-label>
      </div>

      <div class="wrapper-">
        <mat-checkbox disabled="disabled" [checked]="appointment.priority">Prioriteit</mat-checkbox>
      </div>
      <div class="wrapper-">
        <mat-checkbox disabled="disabled" [checked]="appointment.mgn">Afspraak zichtbaar voor patient(MGn)
        </mat-checkbox>
      </div>

    </div>
    <div class="right">
      <div class="wrapper-">
        <div *ngIf="appointment.patient">
          <mat-label><b>Patient: </b></mat-label>
          <mat-label>{{appointment.patient.firstName}} {{appointment.patient.middleName}} {{appointment.patient.lastName}}</mat-label>
          <br>
          <mat-label><b>Geslacht: </b></mat-label>
          <mat-label>{{appointment.patient.gender}}</mat-label>
          <br>
          <mat-label><b>leeftijd: </b></mat-label>
          <mat-label>{{age}}</mat-label>
          <br>
          <mat-label><b>Geboorte datum: </b></mat-label>
          <mat-label>{{appointment.patient.dateOfBirth | date: 'dd-MM-yyyy'}}</mat-label>
          <br>
          <mat-label><b>Telefoon nummer: </b></mat-label>
          <mat-label>{{appointment.patient.phoneNumber}}</mat-label>
        </div>
      </div>
    </div>
  </div>

  <ng-template #editModalContent let-close="close">
    <app-appointment-edit-modal [appointment]="this.appointment"></app-appointment-edit-modal>
  </ng-template>

  <ng-template #confirmationModalContent let-close="close">
    <app-confirmation-modal [appointment]="this.appointment"></app-confirmation-modal>
  </ng-template>

</div>


